body{
    background-color: black;
}

.navbar-collapse {
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
  }
  
  .nav-link {
    margin: 0 3rem; 
    font-weight: bold;
    letter-spacing: 0.2rem;
  }

  .navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
  }

  .nav-link:hover{
    color: white;
  }

  .hover-underline {
    display: inline-block;
    position: relative;
    color: #ffffff;
  }
  
  .hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #34D431;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }